<!DOCTYPE html>
<html>
<head>
    <title>JLPT Voice Game - Menu</title>
</head>
<body>
    <h1>Main Menu</h1>
    <ul>
        <li><a href="/level/jlpt5">JLPT N5</a></li>
        <li><a href="/level/jlpt4">JLPT N4</a></li>
        <li><a href="/level/jlpt3">JLPT N3</a></li>
        <li><a href="/level/jlpt2">JLPT N2</a></li>
        <li><a href="/level/jlpt1">JLPT N1</a></li>
        <li><a href="#">Sandbox (Coming Soon)</a></li>
        <li><a href="#">Database (Coming Soon)</a></li>
    </ul>
</body>
</html>